<div style="margin: var(--spacing-xl)" class="story-container">
  <div class="homepage-nav">
    <button id="upload-button" class="bricks-button button-important margin-bottom" style="margin-bottom: 0 !important"
      matTooltip="Upload multiple document" (click)="uploadFile()">
      <bricks-icon>bricks-upload</bricks-icon>Upload Forecast
    </button>
    <button id="downloadtemplate-button" class="bricks-button button-important margin-bottom"
      style="margin-bottom: 0 !important" matTooltip="Downlaod template" (click)="exportExcel()">
      <bricks-icon>bricks-download</bricks-icon>Download Forecast Template
    </button>
  </div>
  <bricks-card style="width: 100%; height: 200px">
    <h1 class="var-margin" *ngIf="router.url == '/'">Dashboard</h1>
    <h3>Please select the country from sidebar to display the Gas data</h3>
  </bricks-card>
</div>