<div class="main-wrapper">
    <div>
      <div class="error-page-title">
        404 Error
      </div>
  
      <div class="error-page-title">Page Not Found</div>
  
      <div class="error-page-details">
        <p>The page you’re trying to access may have been moved, <br /> deleted, or you may not be authorized
          to visit it.</p>
        </div>
  
      <div class="error-page-details">
        <button (click)="navigateToHomePage()" type="button"
          class="bricks-button button-text-only">{{ homeButtonTitle }}</button>
      </div>
    </div>
  </div>
  